

<%- include('header'); -%>


      <div class="box heading">
        <h1>Hello There! <img src="../images/wave.png" width="40" height="40" alt="" srcset=""></h1>

     </div>
  
     <div class="box">
        <h3 class="heading">Let's Get You Started On Your Todo.  </h3>
        <p><img src="../images/check.png" width="15" height="15">  Manage Tasks</p>
        <p><img src="../images/check.png" width="15" height="15"> Meet Targets</p>
        <p><img src="../images/check.png" width="15" height="15"> Try now! Free for seven days.</p> 
      </div>
      <div class="box loginbox">
        <!-- <button class="btn btn-link loginbtn" type="submit"><a href="/list"><span> Click Here to </span> Get Started</a></button>    -->
        <a href="/list"><button  class="btn btn-link loginbtn"><span> Click Here </span> to get Started</button></a>
      </div>